/back-end/.env
/back-end/.env.production
/front-end/.env.development
/front-end/.env.production
node_modules/

dist/
logs/
*.log
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock

*.sqlite
*.db
.mysql

prisma/.cache
prisma/migration_lock.toml

.cache/
.vscode/
.idea/

*.key
*.pem
*.cert

!.env.example